nav {
    display: flex;
    justify-content: center;
    padding: 100px;
    background: #fdefb8;
}

nav h3 {
    list-style-type: none;
    display: flex;font-size: 50px;
}

nav h3 {
    margin: 0 20px;
    font-weight: 300;
    color: white;
    font-size: 20px;
    text-align: center;font-size: 50px;
    color: #131212;
}
