nav {
    display: flex;
    justify-content: center;
    padding: 100px;
    background: #fdefb8;
    background-image: url(../images/holup.jpg);
    background-repeat: ;
}

nav h3 {
    list-style-type: none;
    display: flex;font-size: 100px;
}

nav h3 {
    margin: 0 20px;
    font-weight: 300;
    color: white;
    font-size: 20px;
    text-align: center;font-size: 50px;
    color: #ffc2c2;font-family:
}


.w3-sidebar{background-color: #abd689;width: 50px;border-style: solid;
  background-image: url(../images/blo.jpg);
  background-size: auto;
  background-repeat: repeat;


}
#pew{
  background-color: lightgrey;
}
body {
  background-color: #ededed;
  background-image: url(../images/play.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
h3 {
  color: black;
}

h2{
  color:  black;
}
h4 {
  color: red;
}
h5 {
  color: red;

}
#numeral {
  width: 40%;
}
p{
  font-size: 25px;
  color: orange;
  font-weight: bold;
}
ol{
  color: orange;
  font-size: 16px;
  font-weight: bold;
  font-weight: bolder;
}
h1{
  color:  red;
  background-color: lightblue;
}
